extends layout
block content
    div(data-role="content")   
        div(data-role="content")
            div(data-role="fieldcontain")
                label(for="cpersonas") Cantidad de Personas
                select(id="cpersonas", name="")
                    option(value="option1") 350
            div(data-role="fieldcontain")
                label(for="cpersonas") Cantidad de Mesas
                select(id="cpersonas", name="")
                    option(value="option1") 120
            div(data-role="fieldcontain")
                label(for="cpersonas") Cantidad de Sillas
                select(id="cpersonas", name="")
                    option(value="option1") 360

            a(data-role="button", href="#page1") Guardar