extends layout
block content
	form#usuario(action="/users/actualizar/#{user._id}", method="POST", data-ajax="false")
		div(data-role="content")
			div(data-role="fieldcontain")
				label(for="nombre") Username:
				input#nombre(type="text", name="nombre", value="#{user.nombre}")
			div(data-role="fieldcontain")
				label(for="email") Username:
				input#email(type="text", name="email", value="#{user.email}")
			input(value="Submit", type="submit")